@import url("https://fonts.googleapis.com/css?family=Lato:100&display=swap");
@import url("https://fonts.googleapis.com/css?family=Source+Code+Pro:200,900");
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300&display=swap');
:root {
    --text-color: hsla(210, 50%, 85%, 1);
    --shadow-color: hsla(210, 40%, 52%, 0.4);
    --btn-color: hsl(210, 80%, 42%);
    --bg-color: #141218;
}
body {
    font-family: 'Fira Code', monospace;
}
.api-explains {
    margin-top: 75px;
}
.mallusrgreat:hover {
    animation: rainbow infinite 2s;
}
.mallusrgreat {
    cursor: pointer;
}
.bigone {
    font-size: 50000px;
}
@keyframes rainbow {
    10% {
        color: violet;
    }
    20% {
        color: indigo;
    }
    30% {
        color: blue;
    }
    40% {
        coloe: green;
    }
    50% {
        color: yellow;
    }
    75% {
        color: orange;
    }
    100% {
        color: red;
    }
}
.font-sourcesanspro {
    font-family: 'Source Code Pro';
}

.go-on-left {
    justify-content: left;
    align-items: flex-start;
    text-align: left;
    font-size: 40px;
}

html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    background-color: moccasin;
    overflow: scroll;
}

.glow-on-hover {
    width: 220px;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

.glow-on-hover:before {
    content: "";
    background: linear-gradient( 45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:active {
    color: #000;
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% {
        background-position: 0 0;
    }
    50% {
        background-position: 400% 0;
    }
    100% {
        background-position: 0 0;
    }
}

.center {
    margin: auto;
    text-align: center;
    align-items: center;
}

.center-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    margin-top: 50px;
}

.fs-75 {
    font-size: 75px;
}

.fs-50 {
    font-size: 50px;
}
p a {
    color: blue;   
}
p a:hover {
    animation: bluetolightblue normal 2s;
}
@keyframes bluetolightblue {
    50% {
        color: lightskyblue;
    }
    100% {
        color: lightblue;
    }
}
.fs-56 {
    font-size: 56px;
}

.fs-25 {
    font-size: 25px;
}

.fs-10 {
    font-size: 10px;
}

.fs-38 {
    font-size: 38px;
}

.img-round {
    border-radius: 100%;
}
.justify-content {
    justify-content: center;
}
.img {
    width: 225px;
    height: 225px;
}

.small {
    font-size: small;
}

.smaller {
    font-size: smaller;
}

.x-small {
    font-size: x-small;
}

.xx-small {
    font-size: xx-small;
}

.large {
    font-size: large;
}

.larger {
    font-size: larger;
}

.x-large {
    font-size: x-large;
}

.xx-large {
    font-size: xx-large;
}

::-webkit-scrollbar {
    width: 10px;
}


/* Track */

::-webkit-scrollbar-track {
    background: #f1f1f1;
}


/* Handle */

::-webkit-scrollbar-thumb {
    background: #888;
}


/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
    background: #555;
}