<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- alot of stuff -->
    <link rel="stylesheet" href="assets/css/helpers.css" />
    <!-- css containing colors -->
    <link rel="stylesheet" href="assets/css/colors.css" />
    <!-- components like p-1 means padding 1 -->
    <link rel="stylesheet" href="assets/css/components.css" />
    <!-- font-awesome css -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <!-- font-awesome js -->
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js"
      integrity="sha512-RXf+QSDCUQs5uwRKaDoXt55jygZZm2V++WUZduaU/Ui/9EGp3f/2KZVahFZBKGH0s774sd3HmrhUy+SgOFQLVQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <!-- easter eggs which you can find from developer thingy -->
    <script src="assets/js/fun_stuff.js" defer></script>
  </head>

  <body>
    <h1 class="center teal fs-56 heading">Hey!</h1>
    <!-- My avatar :D -->
    <img
      src="https://cdn.discordapp.com/avatars/700397009336533032/3c8f041fef94a3029459f89518e44ce0.png"
      alt=""
      class="img-round img center-img"
    />
    <h2 class="center black fs-38">Welcome to&nbsp;<span class="mallusrgreat">mallusrgreat</span>'s&nbsp;website!</h2>
    <div class="center">
      <a href="https://dsc.gg/mallus">
        <button class="glow-on-hover center">Discord</button>
      </a>
      &nbsp;&nbsp;
      <!-- my yt channel sub if ya want -->
      <a href="https://youtube.com/channel/UCXVffkqPjPg9DJAHHvK5y-A">
        <button class="glow-on-hover center">YouTube</button>
      </a>
    </div>
    <!-- tbh idk how to create new lines without things like this -->
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <div class="api-explains center justify-content ">
      <h1 class="go-on-left teal center justify-content">mallusrgreat API</h1><font style="font-size: 150px;"> -- </font>
      <p class="">Nice text generation API is just a <a href="https://api.freedomgamingyt.repl.co/" target="_target">click</a> away!</p>
    </div>
  </body>
</html>
