<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Uh Oh!</title>
    <link rel="stylesheet" href="assets/css/colors.css" />
    <link rel="stylesheet" href="assets/css/helpers.css" />
  </head>
  <body>
    <div class="center">
      <h1 class="teal">Uh Oh!</h1>
      <h2 class="teal">The page you are trying to go is not available!</h2>
      &NewLine;
      <a href="/"><button class="glow-on-hover">Take me back!</button></a>
    </div>
  </body>
</html>
